
  <div id="gamenav" class="do-bg-contraste-color-grad-linear-4 do-w-10 do-overflow-auto pof left bottom do-px-smart-lg do-z-9 do-flex do-justify-content-space-around do-align-items-center do-txt-second-color">
    
   
    

    <!-- GAMENAV -->
    <div class="lg:do-o-7 do-o-10:hover tween-o do-w-10 do-flex do-x do-align-items-center sm:do-justify-content-center do-mx-lg do-gap-md xl:do-gap-xl por left lg:do-bg-transparent  do-py-xs tween-all">
      {{#nav.game}}
      <a href="" class="do-fs-xs do-w-xxl xl:do-w-xl hover do-flex do-y do-justify-content-center do-align-items-center por">
        
        <div class="por do-h-xl lg:do-scale-9 hover:do-scale-12 tween-trans do-ease-out do-mb-xxs md:do-h-lg">
        <img src="{{asset 'imgs/bt-cercle.png'}}" class="poa do-full do-z-3 center" alt="">
      
        <img src="{{asset 'imgs'}}/{{icone}}" class="do-z-2 do-h-10 hover:do-scale-9 tween-trans" alt="">
        </div>

        <span class="por do-txt-second-color do-rotation-5:do-o-10 hover:do-o-10 do-o-7 tween-o do-fs-xxxs xl:do-fs-xs do-ff-extra do-px-xs"><strong></b>{{title}}</strong></span>
        <div class="do-o-2 deep-active:do-o-8 hover:do-o-8 transform-origin-bottom-center do-rotation-1 deep-active:do-rotation-5 hover:do-rotation-5 do-ease-in tween-all do-block mix-lighter poa do-wh-md do-br-lg do-bg-second-color-10 do-blur-2 top left"></div>
      </a>
      {{/nav.game}}
    </div>

  
   </div>


