
@use '../do/do_core' as *;
@use '../do/do_color_v2' as *;
@use '../custom/tweens' as *;

//@use "../../node_modules/bootstrap/scss/bootstrap-utilities" as bs5;



// TPL global
/* purgecss start ignore */

  
:root{
  
	/* color : main */
	--main:227,75%,28%;
	--main-H:227;
	--main-S:75%;
	--main-L:28%;

	/* color : extra */
	--extra:48,100%,50%;
	--extra-H:48;
	--extra-S:100%;
	--extra-L:50%;

	/* color : contraste */
	--contraste:240,100%,0%;
	--contraste-H:240;
	--contraste-S:100%;
	--contraste-L:0%;

	/* color : second */
	--second:28,100%,97%;
	--second-H:28;
	--second-S:100%;
	--second-L:97%;

	/* color : fade */
	--fade:22,73%,23%;
	--fade-H:22;
	--fade-S:73%;
	--fade-L:23%;

	--fw-light:100;
	--fw-regular:400;
	--fw-medium:400;
	--fw-bold:700;

}

body{

	/* init body : main */
	--main-color:var(--main);
	--main-color-H:var(--main-H);
	--main-color-S:var(--main-S);
	--main-color-L:var(--main-L);

	/* init body : extra */
	--extra-color:var(--extra);
	--extra-color-H:var(--extra-H);
	--extra-color-S:var(--extra-S);
	--extra-color-L:var(--extra-L);

	/* init body : contraste */
	--contraste-color:var(--contraste);
	--contraste-color-H:var(--contraste-H);
	--contraste-color-S:var(--contraste-S);
	--contraste-color-L:var(--contraste-L);

	/* init body : second */
	--second-color:var(--second);
	--second-color-H:var(--second-H);
	--second-color-S:var(--second-S);
	--second-color-L:var(--second-L);

	/* init body : fade */
	--fade-color:var(--fade);
	--fade-color-H:var(--fade-H);
	--fade-color-S:var(--fade-S);
	--fade-color-L:var(--fade-L);

}

body::-webkit-scrollbar {
	width: 3px;
  }
   
  body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid var(--extra-color);
  }

body{
  font-family: Opensans, sans-serif;
  font-weight: var(--fw-regular);
}

  .do-ff-main {
	font-family: Opensans, sans-serif;
  }
  .do-ff-extra {
	font-family: Astoria, sans-serif;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Astoria, sans-serif;
  font-weight: regular;
}

#hello{
	content:"welcome :)";
}
/* purgecss end ignore */

body{
	margin:0;
}

*{
    box-sizing:border-box;
}


section{

   width:100%;
   @extend %h-10-vh;
   @extend %px-smart-xxl;
   &.h-auto{
	   min-height: auto;
	   height: auto;
   }
   &.crop{
	   overflow: hidden;
   }
   &.full{
	padding:0px;
   }
   &.full-x{
	padding-left:0px;
	padding-right:0px;
   }
   &.full-y{
	padding-top:0px;
	padding-bottom:0px;
   }
}


// BG IMAGE & BLEND

.overflow-hidden{
	overflow: hidden;
}

.mix-color{
	 mix-blend-mode: color;
}

.mix-saturation{
	mix-blend-mode: saturation;
}
.mix-multiply{
	mix-blend-mode: multiply;
}
.mix-darken{
	mix-blend-mode: darken;
}

.mix-overlay{
	mix-blend-mode: overlay;
}

.mix-lighter{
	mix-blend-mode: plus-lighter;
}

.filter-shadow{
	filter: drop-shadow(0rem 0.5rem 0.5rem #00000020);
}

.box-shadow-in{
	box-shadow: 0px 4px 14px -1px rgba(0,0,0,0.44) inset;
}


.hover:hover .hover\:filter-shadow{
	filter: drop-shadow(0rem 1.2rem 0.5rem #00000030);
}

.blur-doux{
	backdrop-filter: blur(1rem) brightness(0.95);
	-webkit-backdrop-filter: blur(1rem) brightness(0.95);
}

.bg-center{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-top-center{
	background-position: 50% -10rem;
	background-repeat: no-repeat;
	background-size: 100%;
}

// CUSTOM STATE BG


.past .past\:do-bg-main-color{
	background-color: var(--main-color) !important;
}

// CUSTOM Z-INDEX

.do-z-5\:hover:hover{
    z-index: 5;
}

.active.active\:do-z-6{
    z-index: 6;
}


// VIDEO YOUTUBE

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#overlay {
    background:#000;
    opacity:0.5;
    /*background:rgba(255,255,255,0.8); or just this*/
    z-index:50;
    color:#fff;
}


// titre deco

@mixin stroke($color: #000, $size: 1px) {
	text-shadow:
	  -#{$size} -#{$size} 0 $color,
	   0        -#{$size} 0 $color,
	   #{$size} -#{$size} 0 $color,
	   #{$size}  0        0 $color,
	   #{$size}  #{$size} 0 $color,
	   0         #{$size} 0 $color,
	  -#{$size}  #{$size} 0 $color,
	  -#{$size}  0        0 $color;
  }

.text-stroke{

	//@include stroke(var(--second-color));
	-webkit-text-stroke: 1px var(--second-color);
	color:transparent !important;

}

// country card
.card-country{

	.glow{
		transform:scale(0.3);
		opacity: 0;
	}
	&:hover{
		z-index: 10;
		.glow{
			transform:scale(1);
			opacity: 0.3;
		}
	}
	
}

// border-gradient

.do-border-gradient {
  
	box-sizing: border-box;
  
	$border: 0.2rem;
	color: #FFF;
	background: #000;
	background-clip: padding-box; /* !importanté */
	border: solid $border transparent; /* !importanté */
	border-radius: 0.5rem;
  
	&:before {
	  content: '';
	  position: absolute;
	  top: 0; right: 0; bottom: 0; left: 0;
	  z-index: -1;
	  margin: -$border; /* !importanté */
	  border-radius: inherit; /* !importanté */
	  background: linear-gradient(-42deg, hsla(var(--fade-color), 1) 0%, hsla(var(--extra-color), 1) 100%);
	}
  }




// 3D

.perspective{
	perspective: 800px;
}

.do-3D-1{
	transform: rotateX(10deg) rotateY(10deg) rotateZ(-4deg) perspective(800px);
	transform-origin: center center;
}

.do-3D-2{
	transform: rotateX(25deg)
	rotateY(-20deg)
	rotateZ(5deg)
	translateX(0%)
	perspective(800px);
	transform-origin: center center;
}

.do-3D-3{
	transform: rotateX(0deg)
	rotateY(17deg)
	rotateZ(-2deg)
	translateX(0%)
	perspective(800px);
	transform-origin: center center;
}
.do-3D-4{
	transform: rotateX(0deg)
	rotateY(-10deg)
	rotateZ(2deg)
	translateX(0%)
	perspective(800px);
	transform-origin: center center;
}

.do-3D-5{
	transform: rotateX(10deg)
	rotateY(7deg)
	rotateZ(0deg)
	perspective(800px);
	transform-origin: center center;
}


// shadow

.shadow-in-out-1{
	box-shadow: inset 0 0 1rem #25181879, 0 0 1rem #ac654f4d;
}


// SVG line

.do-draw-svg {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	
}

.active .active\:do-draw-svg {
	animation: dash 2s ease-in-out forwards;
}

.hover:hover .hover\:do-draw-svg {
	animation: dash 0.4s ease-in-out forwards;
}


@keyframes dash {
    to {
	  stroke-dashoffset: 0;
    }
}



// masques clip-path
.clip-path-hero{
	clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.clip-path-top-right{
	clip-path: polygon(0 0, 74% 0, 100% 100%, 0% 100%);
}

.do-clip-curve {
    clip-path: ellipse(100% 55% at 48% 44%);
}

.do-clip-curve-full {
    clip-path: ellipse(79% 50%);
}

.do-clip-curve-full-monster {
    clip-path: ellipse(124% 50%);
}

@media (max-width: 991.98px) {
	.clip-path-hero{
		clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
	}
	
	.do-clip-curve {
		clip-path: ellipse(114% 54% at 50% 41%);
	}
	
	.do-clip-curve-full {
		clip-path: ellipse(143% 49%);
	}

	.do-clip-curve-full-monster {
		clip-path: ellipse(180% 49%);
	}

}

// filters



// responsive text align



// details

.barree{
	position: relative;
	&:after{
		content:"";
		position: absolute;
		display: block;
		top:45%;
		left:0px;
		width: 100%;
		transform: rotate(-3deg);
		height: 0.08em;
		background-color:rgba(var(--contraste-color), 1);
		z-index: 2;
		pointer-events: none;
	}
}

// filters

.filter-grayscale-1{
	filter: grayscale(1);
}

.filter-invert-1{
	filter: invert(1);
}

// custom scale

.do-scale-custom{
	transform: scale(1.05);
}

// forms

.reset-input{

	font-family: "Nunito", sans-serif;
	background-color: transparent;
	outline:none;
	border:none;

}

.do-box .do-box-in{
    pointer-events: none;
}

.do-box .do-box-in{
    pointer-events: none;
}

.do-box input{
    appearance: none;
    outline:none;
}

.do-box input + .do-box-in{
    opacity:0.6;
}

.do-box input:checked + .do-box-in{
    opacity:1;
 }

.do-box input:checked + .do-box-in .do-box-bg{
    transform: scale(0.9);
}

.do-box input:checked + .do-box-in .do-box-icone{
    opacity:1;
    transform: scale(1);
}

.do-box input:checked + .do-box-in .do-box-text{
    
    transform: translateY(10%);
}

.do-box {

	/*********** Baseline, reset styles ***********/
	input[type="range"] {
		-webkit-appearance: none;
		appearance: none;
		background: transparent;
		cursor: pointer;
		width: 100%;
	}
	
	/* Removes default focus */
	input[type="range"]:focus {
		outline: none;
	}
	
	/******** Chrome, Safari, Opera and Edge Chromium styles ********/
	/* slider track */
	input[type="range"]::-webkit-slider-runnable-track {
		background-color: #000000;
		border-radius: 0.5rem;
		height: 0.5rem;
	}
	
	/* slider thumb */
	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none; /* Override default look */
		appearance: none;
		margin-top: -12px; /* Centers thumb on the track */
		background-color: #f7d918;
		border-radius: 2rem;
		height: 2rem;
		width: 2rem;
	}
	
	input[type="range"]:focus::-webkit-slider-thumb {
		outline: 3px solid #f7d918;
		outline-offset: 0.125rem;
	}
	
	/*********** Firefox styles ***********/
	/* slider track */
	input[type="range"]::-moz-range-track {
		background-color: #000000;
		border-radius: 0.5rem;
		height: 0.5rem;
	}
	
	/* slider thumb */
	input[type="range"]::-moz-range-thumb {
		background-color: #f7d918;
		border: none; /*Removes extra border that FF applies*/
		border-radius: 2rem;
		height: 2rem;
		width: 2rem;
	}
	
	input[type="range"]:focus::-moz-range-thumb{
		outline: 3px solid #f7d918;
		outline-offset: 0.125rem;
	}

}

.error:not(.active) .error\:do-block{
    display: block;
}

.error:not(.active) .error\:do-flex{
    display: flex;
}

.error .error\:do-hide{
    display: none !important;
}




// scrollbar

.ss-scroll {
   
    background: hsla(var(--main-color), 1) !important;

	&:after{
		content:"";
		position: absolute;
		width: 2px;
		height: 100%;
		top:0px;
		left:1px;
		color:white;
	}
 
}

.ss-content{
	padding-right: 10px !important;
	padding-left: 10px !important;

	@media (min-width: 991.98px) {
		padding-right: 18px !important;
		padding-left: 0px !important;
	}
}


.do-cadre{
	height: calc(100vh - 50px);
	@media (min-width: 991.98px){
		height: 70vh;
	}
	@media (min-width: 1200px){
		height: 57vh;
	}
	@media (max-width: 991.98px) {
		&.full{
			height: 90vh;
		}
	}
}

@media (max-width: 991.98px) {
	[data-ui-mobile-full]{

		z-index: 15 !important;
		position: absolute !important;
		top: 3rem !important;
		left: 0px !important;
		width: 100vw !important;
		height: 91vh !important;
	
		.do-cadre{
			height: 100%;
		}

	}
}





// svg FX

.do-fx-glitch{
    -webkit-filter: url("#glitch");
    filter:url("#glitch");
	backface-visibility: hidden;
}

.hover:hover .hover\:do-fx-glitch{
	-webkit-filter: url("#glitch");
    filter:url("#glitch");
	backface-visibility: hidden;
}



.do-fx-glitch\:hover:hover{
	-webkit-filter: url("#glitch");
    filter:url("#glitch");
	backface-visibility: hidden;
}


.do-fx-glitch-2{
    -webkit-filter: url("#glitch-2");
    filter:url("#glitch-2");
	backface-visibility: hidden;
}

.do-fx-glitch-3{
    -webkit-filter: url("#glitch-3");
    filter:url("#glitch-3");
	backface-visibility: hidden;
}


// shapes

.circle{
	border-radius:100%;
}

// utils

.pointer-events-none{
	pointer-events:none;
}

.active.active\:pointer-events-none{
	pointer-events:none;
}

.cursor-pointer{
	cursor: pointer;
}



// footer

.do-bt-line{
	position: relative;

	span{
		color: do-hsl('contraste');
	}

	&:after{
		content:"";
		display: block;
		position: absolute;
		bottom:-5px;
		left:0px;
		width: 100%;
		height: 2px;
		background-color: do-hsl('main');
		pointer-events: none;
		opacity:0.5;
		transition:opacity 0.5s ease-out, transform 0.5s ease-out;
		transform:scaleX(1);
	}
	&:hover{

		&:after{
			opacity:1;
			transform:scaleX(0);
		}

	}
}

.do-bt{

	position: relative;
	cursor: pointer;

	&.blur{

		&:after{
			content:"";
			display: block;
			position: absolute;
			top:0px;
			left:0px;
			width: 100%;
			height: 100%;
			background-color: do-hsl('main');
			mix-blend-mode: soft-light;
			pointer-events: none;
			opacity:0;
			transition:opacity 0.5s ease-out;
			filter:blur(2rem);
		}

	}


	&:hover{
		img{
			animation: 0.6s linear 0s infinite tween-roll2-x;
		}
		&:after{
			opacity:1;
		}
	
	}

	&.down{
		&:hover{
			img{
				animation: 0.6s linear 0s infinite tween-roll2-y;
			}	
		}
	}

	&.pulse{
		&:hover{
			img{
				animation: 1s linear 0s infinite tween-pulse;
			}	
		}
	}

	&.back{
		&:hover{
			img{
				animation: 0.6s linear 0s infinite tween-roll3-x;
			}	
		}
	}

	&.next{
		&:hover{
			img{
				animation: 0.6s linear 0s infinite tween-roll4-x;
			}	
		}
	}

	&.sobre {


		@extend %py-xs;
		@extend %px-xs;
		@extend %br-xs;

		background-color: do-hsl('extra');

		span{
			color: do-hsl('contraste');
		}
		
		&:after{
			background-color: do-hsl('second');
		}
			
		&:hover{
	
			&:after{
				opacity:1;
			}
		
		}
	}
}

.points{

	counter-reset: my-awesome-counter;
	ul{
		width: 100%;;
	}
	li{
		counter-increment: my-awesome-counter;
		position: relative;
		width: 100%;
		text-align: right;
		font-weight: bold;
		padding-right:0.5rem;
		padding-top:0.5rem;
		padding-bottom: 0.5rem;
		margin-bottom:1px;
		&:before {
			
			content: counter(my-awesome-counter);
			position: absolute;
			padding-top:0.5rem;
			padding-bottom: 0.5rem;
			left:0px;
			top:0px;
			display: block;
			width:2rem;
			padding-right:0.5rem;
			transform:translateX(-100%);
			text-align: right;
			color:do-hsl('second');
			background-color: do-hsl('contraste');
		}
		&:after {
			position: absolute;
			z-index: -1;
			content:'';
			width: 100%;
			height: 100%;
			top:0px;
			left:0px;
			background-color: do-hsl('main');
		}
	}
}

.counter-trigger{
	counter-reset: my-counter;
}

.counter-target{
	counter-increment: my-counter;
	position: relative;
	&:before {
			
		content: counter(my-counter);
		position: absolute;
		left:50%;
		top:50%;
		display: block;
		transform:translateX(-50%) translateY(-50%);
		color:do-hsl('contraste');
	}
}

.set-main-conquerers{
	--main-H:0;
	--main-S:75%;
	--main-L:18%;
	--main-color:0,75%,18%;
}
.set-main-preachers{
	--main-color-H:177;
	--main-color-S:59%;
	--main-color-L:25%;
	--main-color:177,59%,25%;
}
.set-main-wisers{
	--main-color-H:241;
	--main-color-S:39%;
	--main-color-L:37%;
	--main-color:241,39%,37%;
}

.set-main-uncommon-before{
	--main-color:var(--second);
	--main-color-H:var(--second-H);
	--main-color-S:var(--second-S);
	--main-color-L:var(--second-L);
}

.set-main-uncommon{
	--main-color-H:106;
	--main-color-S:53%;
	--main-color-L:50%;
	--main-color:106,53%,50%;
}
.set-main-rare-before{
	--main-color-H:106;
	--main-color-S:53%;
	--main-color-L:50%;
	--main-color:106,53%,50%;
}
.set-main-rare{
	--main-color-H:219;
	--main-color-S:35%;
	--main-color-L:45%;
	--main-color:219,35%,45%;
}
.set-main-epic-before{
	--main-color-H:219;
	--main-color-S:35%;
	--main-color-L:45%;
	--main-color:219,35%,45%;
}
.set-main-epic{

	--main-color-H:291;
	--main-color-S:56%;
	--main-color-L:47%;
	--main-color:291,56%,47%;
}
.set-main-legendary-before{

	--main-color-H:291;
	--main-color-S:56%;
	--main-color-L:47%;
	--main-color:291,56%,47%;
}
.set-main-legendary{
	--main-color-H:22;
	--main-color-S:68%;
	--main-color-L:51%;
	--main-color:22,68%,51%;
}



.do-bg-current-color{
	background-color: var(--current-color);
}
.active > .parent-active\:do-bg-current-color {
	background-color: var(--current-color) !important;
}

.do-txt-current-color{
	color: var(--current-color);
}
.active > .parent-active\:do-txt-current-color {
	color: var(--current-color) !important;
}


.do-border-current-color{
	border-color: var(--current-color);
}
.active > .parent-active\:do-border-current-color {
	border-color: var(--current-color) !important;
}

:root{
	--margin-top-in: 0vh;
	--margin-top-out: 0vh;
	--opacity-in: 0;
	--opacity-out: 0;
	--translateY-in: 0%;
	--translateY-out: 0%;
}

.set-translateY-in{
	
	--translateY-in: 10%;
	--translateY-out: 0%;
	transform: var(--margin-top-in);
	opacity: 0;

}

.set-translateY-out{
	
	--translateY-in: 0%;
	--translateY-out: -10%;
	transform: var(--margin-top-in);
	opacity: 1;

}

.set-opacity-margin-top-in{
	
	--margin-top-in: -42vh;
	--margin-top-out: 0vh;
	--opacity-in: 0;
	--opacity-out: 1;
	margin-top: var(--margin-top-in);
	opacity: var(--opacity-in);
}

.set-opacity-margin-top-out{
	
	--margin-top-in: 0vh;
	--margin-top-out: -264px;
	--opacity-in: 1;
	--opacity-out: 0;
	margin-top: var(--margin-top-in);
	opacity: var(--opacity-in);
}